#page-contact {
  background-color: #fed10a;

  .elt-mail {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: black;
    font-weight: 800;
    @media screen and (max-width: 1250px) {
      font-size: 75px;
    }
    @media screen and (max-width: 992px) {
      font-size: 60px;
    }
    @media screen and (max-width: 768px) {
      font-size: 45px;
    }
    @media screen and (max-width: 576px) {
      font-size: 30px;
    }
    @media screen and (max-width: 450px) {
      font-size: 25px;
    }
  }

}
